@(BookList :List[Book])
@main("einkaufen"){

			<div id="content">
			
				@if(!BookList.isEmpty()) {
				
				<script type="text/javascript">
					$(function() {
					  $('#userBooks').modal("show")
					});
				</script>
				
					<div id="boxen">
						<h1>Buchangebote für Sie:</h1>
						@for(book <- BookList){	
							<div class="box">
								<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
								class="buchtitel">@book.getBookName() <span>: </span> </span> <span class="buchtitel">@book.getAuther()</span><br> 
								<span class="buchtitel">@book.getISBN()</span>
								<a href=@routes.Application.buyBook(book.getId())><img class="deleteBook" src=@routes.Assets.at("images/shopping.png")/></a>
							
							</div>
						}
						<div class="clear"></div>
					</div>
				}
			</div>

}		