@()
@main("einkaufen"){
			<div id="content">
				<div id="boxen">
					<h1>Buchangebote für Sie:</h1>
					<div class="box">
						<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
							class="buchtitel">Buch - Titel 1 </span><br> Fach
						Empfehleung
					</div>
					<div class="box">
						<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
							class="buchtitel">Buch - Titel 2 </span><br> Fach
						Empfehleung
					</div>
					<div class="clear"></div>
					<div class="box">
						<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
							class="buchtitel">Buch - Titel 3 </span><br> Fach
						Empfehleung
					</div>
					<div class="box">
						<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
							class="buchtitel">Buch - Titel 4 </span><br> Fach
						Empfehleung
					</div>
					<div class="clear"></div>
					<div class="box">
						<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
							class="buchtitel">Buch - Titel 5 </span><br> Fach
						Empfehleung
					</div>
					<div class="box">
						<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
							class="buchtitel">Buch - Titel 6 </span><br> Fach
							Empfehleung 
					</div>
					<div class="clear"></div>
				</div>

			</div>

}		