@(BookList :List[Book]) @main("einkaufen"){

<div id="content">

	@if(!BookList.isEmpty()) {

	<script type="text/javascript">
					$(function() {
					  $('#userBooks').modal("show")
					});
				</script>

	<div id="boxen">
		<h1>Buchangebote für Sie:</h1>

		<form action="searchBook">
			<input type="text" placeholder="Titel /ISBN /Autor.."
				name="sucheBook" id="sucheBook"> <input type="submit"
				value="Suchen">
		</form>

		@for(book <- BookList){
		<div class="buchbox">
			<img class="buchbild" src=@routes.Assets.at( "images/bucheinzel.jpg") />
			<p class="buchtitel">@book.getBookName():</p>
			<p class="buchtitel">@book.getAuther()</p>
			<p class="buchtitel">@book.getISBN()</p>
			<a href=@routes.Application.buyBook(book.getId())><img
				class="deleteBook" src=@routes.Assets.at( "images/shopping.png")/></a>

		</div>
		}
		<div class="clear"></div>
	</div>
	}
</div>

}
