@()
@main("Welcome to buechern"){
			<div id="content">
				<div id="landingHead">
					<h2>buechern.de - Die HTWG interne Buchbörse</h2>
					<h3 class="subtitle">fair - einfach - gut!</h3>
				</div>
				<div id="landing">
					</br>
					<p>&#10003; Verkaufe FH-Bücher an Kommilitonen</p>
					<p>&#10003; Kaufe Bücher die dir wirklich helfen</p>
					<p>&#10003; Bekomme Buchempfehlungen von Kommilitonen aus höheren Semestern</p>
					<div id="soGehts" align="center">
					<img id="comix" src=@routes.Assets.at("images/comix.jpg") name="Comic">
					</div>
				</div>
			</div>
}