@(BookList :List[Book], ActualUser :User, MarketBasket :List[Book])

@main("Profile"){
			
			<div id="content">
				<div id="leftSidebar">
					<div id="userProfile">
						
						<div id="userDataShown">
							<img class="userImage" src=@routes.Assets.at("images/Profile_Image.jpg") /></br>
							<div id="userDataNotShown">
								<span class="linkSidebarPic"><a href=@routes.Application.changeUserData()><img class="icon_tools" src=@routes.Assets.at("images/icon_tools.png") /></a></span>
							</div>
							
							<span class="userData">@ActualUser.getFirstName()</span><br/>
							<span class="userData">@ActualUser.getEmail()</span><br/>
							<span class="linkSidebar"><a href=@routes.Application.changeUserData()>Change Passwort</a></span> </br>
							<span class="linkSidebar"><a href=@routes.Application.changeUserData()>Change Email</a></span></br>
							<form action="logOut" method="Get">
								<input type="submit" value="Logout"/>
							</form>
						</div>		
					</div>	
				</div>	
				<div id="rightSidebar">
					<span class="linkSidebarPic"><a href=@routes.Application.verkaufen()><img class="userImage" src=@routes.Assets.at("images/book_add.png") /></a></span>
				</div>
			
				@if(!BookList.isEmpty()) {
				
				<script type="text/javascript">
					$(function() {
					  $('#userBooks').modal("show")
					});
				</script>
								
					<div id="userBooks">
						<h1>Eigene Bücher:</h1>
							<div id="boxen">
								@for(book <- BookList){	
									<div class="box">
										<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
										class="buchtitel"><p>@book.getBookName()</p> </span> <span class="buchtitel"><p>@book.getAuther()</p></span> 
										<span class="buchtitel"><p>@book.getISBN()</p></span>
										<a href=@routes.Application.deleteBook(book.getId())><img class="deleteBook" src=@routes.Assets.at("images/Delete_icon.png")/></a>
									</div>
								}
							</div>
					</div>
					
				}
				
				@if(!MarketBasket.isEmpty()) {
				
					<script type="text/javascript">
						$(function() {
						  $('#userBooks').modal("show")
						});
					</script>
					@for(book <- MarketBasket){	
						<div id="userBooks">
							<div id="boxen">
								<h1>Einkäufe:</h1>
									<div calss="box">
										<img class="buchbild" src=@routes.Assets.at("images/bucheinzel.jpg") /> <span
										class="buchtitel"><p>@book.getBookName()</p> </span> <span class="buchtitel"><p>@book.getAuther()</p></span> 
										<span class="buchtitel"><p>@book.getISBN()</p></span>
									</div>
							</div>
						</div>
					}
				}
			</div>

}