@()
@main("Registrierung"){
			<div id="content">

				<div id="register">
					<h1>Herzlich Willkommen bei buechern.de</h1>
					<h2>...nur noch wenige Schritte bis du los buechern kannst</h2>
					<div id="persInfo">
						<form action="addUser" method="Get">
							<fieldset class="reg_fs">
								<legend>Persönliche Informationen</legend>
								<div id="pic_div">
									<img id="picUpl" src=@routes.Assets.at("images/AddUser.png") name"Plus">
								</div>
								<ol> 
									<li>
										
									</li>
									<li>
										<label for="FirstName">Dein Vorname</label>
										<input name="FirstName" maxlength="30" type="text">
									</li>
									<li>
										<label for="LastName">Dein Nachname</label>
										<input name="LastName" maxlength="30" type="text">
									</li>
									<li>
										<label for="Email">Deine E-mail Adresse</label>
										<input name="Email" maxlength="30" type="text">
									</li>
									<li>
										<label for="EmailBest">Gib zur Sicherheit bitte nochmal die E-mail Adresse ein</label>
										<input name="EmailBest" maxlength="30" type="text"> </br>
									</li>
									<li>
										<label for="Passwort">Bitte gib ein Passwort ein</label>
										<input name="Passwort" maxlength="30" type="password">
									</li>
									<li>
										<label for="PasswortRep">Gib dein Passwort bitte erneut ein</label>
										<input name="PasswortRep" maxlength="30" type="password">
									</li>
								</ol>
							</fieldset>
							<fieldset class="reg_fs">
								<legend>Informationen zu deinem Studium</legend>
								<ol>
									<li>
										<label for="Fakultaet">In welcher Fakultät studierst du?</label>
										<select required name="Fakultaet"> 
											<option value="">wählen...</option>
											<option value="in">Informatik</option>
											<option value="ar" >Architektur</option>
											<option value="ei" >Elektrotechnik</option>
										</select>
									</li>
									<li>
										<label for="Studiengang">Wie lautet dein Studiengang?</label>
										<select name="Studiengang">
											<option value="">wählen...</option>
											<option value="WIN">Wirtschaftsinformatik</option>
											<option value="AIN">Angewante Informatik</option>
										</select>
									</li>
									<li>
										<label for="Semester">In welchem Semester bist du?</label>
										<select name="Semester">
											<option value="">wählen...</option>
											<option value="1">Erstes</option>
											<option value="2">Zweites</option>
										</select>
									</li>
								</ol>
							</fieldset>
							<fieldset id="button_fs">
								<input type="reset" value="reset" id="reButton">
								<input type="submit" value="weiter" id="subButton"/>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

}