@(BookList :List[Book]) 
	<div id="content">
	
			
		@if(!BookList.isEmpty()) {
	
		<script type="text/javascript">
						$(function() {
						  $('#buchbox').modal("show")
						});
						
					</script>
			@for(book <- BookList){ 
		
			<div class="buchbox">
				<img class="buchbild" src=@routes.Assets.at( "images/bucheinzel.jpg") />
				<p class="buchtitel">Buchtitiel: @book.getBookName():</p>
				<p class="buchtitel">Autor: @book.getAuther()</p>
				<p class="buchtitel">ISBN: @book.getISBN()</p>
				<p class="buchtitel">Preis: @book.getPrice()</p>
				<a href=@routes.Application.buyBook(book.getId())><img
					class="deleteBook" src=@routes.Assets.at( "images/shopping.png")/></a>
			</div>
			}
		}
	</div>
