@()
@main("userDatenAendern"){
			<div id="content">
				<div id="changeUserData">
					<h1>Eigene Daten Ändern</h1>
						<div class="change">
							<form action="changePass"  method="Get"> 
								<h1>Passwort ändern</h1>
								<input name="oldPasswort" type="password" placeholder="Altes Passwort"></input></br>
								<input name="newPasswort" type="password" placeholder="NeuePasswort"></input></br>
								<input name="changePasswort" type="submit" value="Ändern"></input>
							</form>
							<form action="changeEmail" methode="Get">
								<h1>Email ändern</h1>
								<input name="oldEmail" type="text" placeholder="Alte Email"></input></br>
								<input name="newEmail" type="text" placeholder="Neue Email"></input></br>
								<input name="changeEmail" type="submit" value="Ändern"></input>
							</form>
						</div>
				</div>
			</div>

}