@()
@main("Verkaufen"){

			<div id="content">
				<div id="addBook">
					<div class="addForm">
						<form action="addBook" method="Post">
							<p>Buchtitel:</p>
							<input type="text" name ="Booktitel" id="Booktitel" placeholder="Buchtitel"></input>
							<p>Autor:</p>
							<input type="text" name = "Autor" id="Autor"  placeholder="Autor"></input>
							<p>Erscheinungsjahr:</p>
							<input type="text" name="Erscheinungsjahr" id="Erscheinungsjahr" placeholder ="Erscheinungsjahr"></input>
							<p>ISBN:</p>
							<input type="text" name="ISBN" id="ISBN" placeholder="ISBN"></input>
							<p>Auflage :</p>
							<input type="text" name="Auflage" id="Auflage " placeholder="Auflage "></input>
							<p>Zustand  :</p>
							<input type="text" name="Zustand" id="Zustand" placeholder="Zustand  "></input>
							<p>Preis  :</p>
							<input type="text" name="Preis" id="Preis" placeholder="Preis  "></input></br>
								
							<input type="submit" id="buchEinstellen" value="Buch einstellen"></input>
						</form>
					</div>
				</div>
			</div>
}
