@()
@main("Verkaufen"){

			<div id="content">
				<div id="addBook">
					<h1>Buch verkaufen:</h1>
					<div class="addForm">
						<form action="profile.html">
							<p>Buchtitel:</p>
							<input type="text" id="Booktitel" placeholder="Buchtitel"></input>
							<p>Autor:</p>
							<input type="text" id="Autor"  placeholder="Autor"></input>
							<p>Erscheinungsjahr:</p>
							<input type="text" id="Erscheinungsjahr" placeholder ="Erscheinungsjahr"></input>
							<p>ISBN:</p>
							<input type="text" id="ISBN" placeholder="ISBN"></input>
							<p>Auflage :</p>
							<input type="text" id="Auflage " placeholder="Auflage "></input>
							<p>Zustand  :</p>
							<input type="text" id="Zustand  " placeholder="Zustand  "></input>
							<p>Preis  :</p>
							<input type="text" id="Preis  " placeholder="Preis  "></input></br>
							<p>Festpreis (ja/nein)
							<input type="checkbox" value="Festpreis" name="Festpreis"></input></br>
					
							<input type="submit" id="buchEinstellen" value="Buch einstellen"></input>
						</form>
					</div>
				</div>
			</div>
}
