/* CSS for buechern.de Webtech Project */

/* statics for whole page */
body {
	background-color: #EEEEEE;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#homepage {
	width: 100%;
}

h1 {
	font-size: 130%;
	text-align: center;
}

h2 {
	font-size: 100%;
	text-align: center;
}

.center {
	text-align: center;
}

#homepage {
	width: 100%;
}

.clear {
	clear: both;
}

/* top HEADER oberer Bereich über Bild */
#head {
	position: relative;
	height: auto;
}

#logo {
	float: left;
}

.loginform {
	float: right
}

#logobild {
	width: 100%;
}

#login {
	float: right;
	position: relative;
}

#headerrechts {
	padding-top: 22px;
	padding-right: 2px;
}

#login form input {
	box-shadow: 0 0 3px 0 #959595;
	width: 200px;
}

#subButton {
	width: 60px !important;
}

/* Bilderslider */
#slider {
	height: auto;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

#bildinslider {
	width: 100%;
}

/* navigation for big displays*/
.linkbox {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-left: 5px;
	height: 34px;
}

.linkboxlink:hover {
	background-color: #5D5D5D;
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
}

.navlinks {
	height: 34px;
	margin: 0 auto;
	margin-top: -6px;
	margin-bottom: 4px;
	width: 520px;
}

.linkboxlink {
	padding: 5px 20px;
}

/* Allgemeines Link Styling muss überschrieben werden bei Links auf Seiten */

a:link, a:visited {
	font-size: 15px;
	color: #E9E9E9;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
}

/*responsive nav mit js script im header --> main*/
#myMenu {
	display: none;
}

#myMenu ul {
	width: 97.5%;
	padding: 0;
	margin: 0;
	position: fixed;
	top: 60px;
	left: 1%;
	top: 1px;
}

#myMenu li {
	text-align: center;
	background: #ffffff;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #6e6e6e;
	margin-bottom: -1px;
}

#myMenu a:link {
	color: #000000;
}

#myMenu a:visited {
	color: #000000;
}

/* content */

/* Registration */
.reg_fs {
	float: left;
	clear: left;
	width: 100%;
	margin: 0 0 1.5px 0;
	padding: 0;
}

.reg_fs label {
	float: left;
	width: 75%;
	margin-right: 1px;
}

.reg_fs li {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 5px;
	list-style-type: none;
}

#button_fs {
	float: right;
	clear: left;
	width: auto;
	border: 0 none #FFF;
	padding-left: 12px;
}

/*reg_select & reg_input should have the same size */
.reg_fs select {
	width: 150px
}

.reg_fs input {
	width: 150px;
}

#pic_div {
	float: right;
}

#picUpl {
	float: right;
	padding-right: 10px;
	padding-top: 10px;
	margin-left: 50px;
	height: 50px;
	width: 50px;
}

/* User Profil */

/* special */
#register {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	height: auto;
}

#persInfo {
	text-align: left;
	margin-left: 8%;
	width: 80%;
}

#landing {
	width: 80%;
	margin: 10px auto;
}

#landingHead {
	text-align: center;
}

#comix {
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	width: 70%;
}

.subtitle {
	text-align: center;
	text-align: center;
}

#leftSidebar {
	float: left;
	width: 20%;
}

#rightSidebar {
	float: right;
	width: 20%;
}

.userImage {
	margin-left: 3%;
	width: 80%;
}

.linkSidebar {
	margin-left: 3%;
}

.userData {
	margin-left: 3%;
	font-size: 100%;
}

#userBooks {
	width: 60%;
	margin: 10px auto;
	text-align: center;
	height: auto;
	max-height:500px;
}

#verkaufenForm {
	margin-left: 3%;
}

.deleteBook {
	width: 10%;
	float: right;
}

.buchbild {
	width: 100%;
}

.buchtitel {
	font-size: 100%;
}

#changeUserData {
	width: 80%;
	margin: 10px auto;
	text-align: center;
	height: auto;
}

#leftSidebar a:link, #leftSidebar a:visited {
	color: #000000;
}

#addBook {
	width: 80%;
	margin: 10px auto;
	text-align: left;
	height: auto;
}

.addForm {
	margin-left: 3%;
}

.buchbox {
	width: 45%;
	margin-left: 3%;
	margin-top: 10px;
	box-shadow: 0 0 3px 0 #959595;
	float: left;
	text-align: center;
}

.buttonspacer {
	height: 20px;
}

/* Fixed Footer */
#footer_container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	height: 22px;
	z-index: 3;
}

.footerlink {
	padding-left: 15px;
	font-size: 12px;
}

#footer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2f2f2f;
	z-index: 3;
}

#footer a:link {
	font-size: 15px;
}

/* media query for viewsize check */

/*Min Media Query for big Displays*/
@media only screen and ( min-width: 751px ) {
	#navigation {
		height: 30px;
		position: relative;
		text-align: center;
		background-color: #2F2F2F;
		box-shadow: 0 0 2px 1px #ab93ab;
	}
	#respnav {
		display: none;
	}
	#respProfil {
		display: none;
	}
	
	.comic {
		width: 60%;
	}
}

@media only screen and ( min-width: 1147px ) {
	#homepagecontent {
		width: 1100px;
		margin: 0 auto;
		box-shadow: 0 0 2px 1px #ab93ab;
		background-color: #ffffff;
		height: auto;
	}
}

@media only screen and ( min-width:1099px) {
	#content {
		position: relative;
		text-align: center;
		min-height: 470px;
	}
	#userProfile {
		margin-left: 3%;
	}
	.linkSidebar {
		margin-left: 3%;
		margin-top: 5px;
	}
	.userData {
		margin-left: 3%;
		font-size: 100%;
	}
}

/*Min Media Query for small Displays*/
@media only screen and ( max-width: 1100px) {
	#content {
		position: relative;
		text-align: center;
		min-height: 470px;
	}
	#userProfile {
		width: 100%;
		margin-left: 3%;
		margin-right: 60%;
	}
	.userData {
		display: none;
	}
	.icon_tools {
		width: 40%;
		margin-left: 20%;
		margin-top: 10%;
	}
	.linkSidebar {
		display: none;
	}
}

.linkSidebarPic {
	margin-left: 3%;
}

@media only screen and ( max-width: 515px) {
	#myMenu li {
		height: 40px;
		line-height: 5px;
	}
}

@media only screen and ( max-width: 400px) {
	.buchbox {
		width: 94%;
	}
	
	.buchbild {
		width:65%;
	}
	
	
}

@media only screen and ( max-width: 750px) {
	#navigation {
		height: 50px;
	}
	.link {
		display: none;
	}
	.linktrenner {
		display: none;
	}
	#respnav {
		text-align: center;
		margin-top: 10px;
	}
	.navlinks {
		width: 0px;
	}
	.buchtitel {
		font-size: 14px;
		width: 100%;
	}
	
	.boughtBooks {
		position:relative; 
		top:16px;
	}
	
	#userBooks {
		width: 100%;
	}
	#leftSidebar {
		display: none;
	}
	#rightSidebar {
		display: none;
	}
	#respProfil img {
		width: 60px;
		text-align: center;
	}
	.respUserProfilLink {
		float: left;
		margin-top: -43px;
	}
	.respUserChangeLink {
		float: right;
		margin-top: -40px;
	}
	
	.comic {
		width: 100%;
	}
}

/* Responsive for whole Webpage*/
@media only screen and ( max-width: 1147px ) {
	#homepagecontent {
		width: 99%;
		margin: 0 auto;
		box-shadow: 0 0 2px 1px #6e6e6e;
		background-color: #ffffff;
		height: auto;
	}
}