@()
@main("Welcome to buechern"){
			<div id="content">
				<div class="contenttext">
					<h1>buechern.de - Die HTWG interne Buchbörse</h1>
					<h2>fair - einfach - gut!</h2>

					</br>
						<p class="center">&#10003; Verkaufe FH-Bücher an Kommilitonen</p>
						<p class="center">&#10003; Kaufe Bücher die dir wirklich helfen</p>
						<p class="center">&#10003; Bekomme Buchempfehlungen von Kommilitonen aus höheren Semestern</p>
						<img class="comic" src=@routes.Assets.at("images/comix.jpg") name="Comic">
				</div>
			</div>
}
